DATABASE_URL="postgresql://seguimiento:seguimiento@127.0.0.1:5433/seguimiento?schema=public"
REDIS_URL="redis://127.0.0.1:16380"
# Opcional fallback unico
MOODLE_BASE_URL=""
# Recomendado: por modalidad
MOODLE_BASE_URL_PRESENCIAL="https://presencial.aulasuniminuto.edu.co"
MOODLE_BASE_URL_DISTANCIA="https://distancia.aulasuniminuto.edu.co"
MOODLE_BASE_URL_POSGRADOS="https://posgrados.aulasuniminuto.edu.co"
MOODLE_BASE_URL_MOOCS="https://moocs.aulasuniminuto.edu.co"
MOODLE_USERNAME="usuario"
MOODLE_PASSWORD="clave"
EVIDENCE_DIR="../../data/evidence"
WORKER_CONCURRENCY=3
